.dialog {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
    height: 100%;
    padding: 4px;
    .dialog-container {
        width: 100%;
        height: 100%;
        background: rgba(51, 51, 51, .7);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .dialog-wrapper {
            width: 260px;
            height: 160px;
            background: #fff;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            align-items: center;
            animation: dialog-show .5s;
            user-select: none;
            -webkit-app-region: no-drag;
            overflow: hidden;
            .dialog-title {
                width: 100%;
                height: 30px;
                text-align: center;
                line-height: 30px;
                font-size: 16px;
                color: #333;
                font-weight: bold;
            }
            .dialog-content {
                height: 90px;
                font-size: 14px;
                color: #333;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    text-align: center;
                }
            }
            .dialog-btn-wrapper {
                width: 100%;
                height: 40px;
                display: flex;
                border-top: 1px solid  #E8E8E8;
                div {
                    flex: 1;
                    height: 100%;
                    text-align: center;
                    line-height: 40px;
                    font-size: 14px;
                    color: #333;
                    cursor: pointer;
                }
                div:last-child {
                    border-left: 1px solid  #E8E8E8;
                }
                div:hover {
                    background: #eee;
                }
            }
        }
    }
}
@keyframes dialog-show {
    0% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}