
// toast
.toast-dialog {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 220px;
    position: fixed;
    top:200px;
    left: 0;
    z-index: 10000;
    .common-style {
        background: rgba(0, 0, 0, .8);
        border-radius: 10px;
        span {
            font-size: 14px;
            color: #fff;
        }
    }
    .success-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 40px;
        animation: toast-success-show .5s;
        img {
            width: 48px;
            height: 48px;
            margin-bottom: 5px;
        }
        span {
            margin-top: 7px;
        }
    }
    .warning-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        position: relative;
        animation: toast-warning-show .5s;
        img {
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
    }
}

@keyframes toast-success-show {
    0% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes toast-warning-show {
    from{
        top: 30px;
        opacity: 0;
    }
    to {
        top:0;
        opacity: 1;
    }
}
