#root {
    padding: 4px;
    -webkit-app-region: drag;
    .account-page {
        width: 100%;
        height: 100%;
        background: #fff url('.././../img/account-head-img.png') center top no-repeat;
        background-size: 340px 254px;
        box-shadow: 0 0 4px 0px #868686;
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: 10px;
        .app-name {
            position: absolute;
            top: 100px;
            width: 100%;
            text-align: center;
            font-size: 20px;
            color: #fff;
        }
        .close-btn {
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 26px;
            position: absolute;
            right: 4px;
            top: 4px;
            font-size: 18px;
            color: #fff;
            cursor: pointer;
            -webkit-app-region: no-drag;
        }
        .main {
            width: 260px;
            display: flex;
            flex-direction: column;
            margin-top: 300px;
            -webkit-app-region: no-drag;
            .input-wrapper {
                width: 260px;
                position: relative;
                input {
                    width: 260px;
                    height: 30px;
                    padding: 0 0 10px 10px;
                    box-sizing: border-box;
                    color: #333;
                    border: none;
                    outline: none;
                    font-size: 12px;
                    border-bottom: 1px solid #333;
                }
                .check-info {
                    width: 100%;
                    height: 30px;
                    line-height: 20px;
                    font-size: 12px;
                    color: red;
                    padding-left: 10px;
                }
                .submit {
                    width: 30px;
                    height: 30px;
                    background: url('../../img/submit-icon.png') center no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                    &:active {
                        transform: scale(.95);
                    }
                }
            }
            .btn-wrapper-1 {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }
            .btn-wrapper-2 {
                display: flex;
                justify-content: flex-end;
                margin-top: 20px;
            }
            .btn-wrapper-1, .btn-wrapper-2{
                div {
                    font-size: 14px;
                    color: #333;
                    cursor: pointer;
                    user-select: none;
                }
            }
        }
    }
}