#root {
    .jc-show-page {
        width: 100%;
        height: 100%;
        background: hsl(36, 100%, 56%);
        display: flex;
        justify-content: center;
        align-items: center;
        .main {
            -webkit-app-region: drag;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background: hsl(36, 100%, 56%);
            overflow: hidden;
            position: relative;
            .wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                position: absolute;
                left:0;
                top: 0;
                & > div {
                    width: 100%;
                    height: 100%;
                    flex-shrink:0;
                }
                .jc-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .title,
                    .topic {
                        width: 100%;
                        text-align: center;
                        font-size: 16px;
                        color: #fff;
                    }
                    .title {
                        padding-top: 20px;
                    }
                    .topic {
                        padding-top: 40px;
                    }
                    .option {
                        padding-top: 6px;
                        font-size: 14px;
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .left {
                            color: #e51c23;
                        }
                        .right {
                            color: #6e7cff;
                        }
                    }
                    .proportion {
                        width: 80%;
                        height: 14px;
                        display: flex;
                        & > div {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            font-size: 12px;
                            overflow: hidden;
                        }
                        .left {
                            background: #e51c23;
                        }
                        .right {
                            flex: 1;
                            background: #6e7cff;
                        }
                    }
                    .join-way {
                        font-size: 12px;
                        color: #fff;
                        width: 80%;
                        padding-top: 40px;
                        .sub-title {
                            width: 100%;
                            text-align: center;
                        }
                        .text1, .text2 {
                            padding-top: 8px;
                        }
                        .text1{
                            span {
                                color: #e51c23;
                            }
                        }
                        .text2{
                            span {
                                color: #6e7cff;
                            }
                        }
                    }
                }
                .jc-rank {
                    .title {
                        font-size: 16px;
                        color: #fff;
                        width: 100%;
                        text-align: center;
                        padding-top: 20px;
                    }
                    ul {
                        width: 100%;
                        font-size: 14px;
                        color: #fff;
                        padding-top: 10px;
                        li {
                            width: 100%;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            .rank-num {
                                width: 10%;
                                text-align: center;
                            }
                            .name {
                                width: 70%;
                                text-align: center;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .win {
                                width: 20%;
                                text-align: center;
                                color: #e51c23;
                            }
                        }
                    }
                }
            }
        }
        @keyframes jcShowAnimation {
            0% {
                left: 0;
            }
            45% {
                left: 0%;
            }
            50% {
                left: -100%; 
            }
            95% {
                left: -100%;
            }
            100% {
                left: 0%;
            }
        }
    }
}
