.loading-dialog {
    width: 100%;
    height: 100%;
    padding: 4px;
    box-sizing: border-box;
    position: fixed;
    top:0;
    left: 0;
    z-index: 10000;
    .loading-container {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .sk-cube-grid {
            width: 60px;
            height: 60px;
            .sk-cube {
                width: 33%;
                height: 33%;
                background-color: #fff;
                float: left;
                animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            }
            .sk-cube1 {
                animation-delay: 0.2s;
            }
            .sk-cube2 {
                animation-delay: 0.3s;
            }
            .sk-cube3 {
                animation-delay: 0.4s;
            }
            .sk-cube4 {
                animation-delay: 0.1s;
            }
            .sk-cube5 {
                animation-delay: 0.2s;
            }
            .sk-cube6 {
                animation-delay: 0.3s;
            }
            .sk-cube7 {
                animation-delay: 0s;
            }
            .sk-cube8 {
                animation-delay: 0.1s;
            }
            .sk-cube9 {
                animation-delay: 0.2s;
            }
        }
        .loading-text{
            font-size: 16px;
            color: #fff;
            margin-top: 10px;
        }
    }
}
@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        transform: scale3D(1, 1, 1);
    }
    35% {
        transform: scale3D(0, 0, 1);
    }
}
@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        transform: scale3D(1, 1, 1);
    }
    35% {
        transform: scale3D(0, 0, 1);
    }
}